<% provide :title, "Edit user" %> 
<h1>Edit user</h1>
<br/>

<%= render 'shared/error_messages', object: @user %>
<div id="signup-form-container">
<%= form_for(@user) do |f| %>

	<%= render 'form', f: f %>
  <div class="actions">
    <%= f.submit "Update", class: "btn-primary" %>
  </div>
<% end %>
</div>

<div>
  <%= gravatar_for(@user) %>
  <a href="http://gravatar.com/emails">change</a>
</div>