<%= provide :title, 'Sign up' %>
<h1>Sign up</h1>
<br/>

<%= render 'shared/error_messages', object: @user %>
<div id="signup-form-container">
<%= form_for(@user) do |f| %>
	
	<%= render 'form', f: f %>
  <div class="actions">
    <%= f.submit "Sign up", class: "btn-primary" %>
  </div>
<% end %>
</div>