<% provide :title, @user.name %>
<table class="table-condensed profile">
  <tr>
    <td class="main">
			<h2><%= gravatar_for @user %>
			<span style="color:#555;"><%= @user.name %></span></h2>
			<% if @user.microposts.any? %>
        <table class="microposts table">
          <%= render @microposts %>
        </table>
        <%= will_paginate @microposts %>
      <% end %>
    </td>
    <td class="sidebar">
      <strong>Name</strong> <%= @user.name %><br />
      <strong>URL</strong>  <%= link_to user_path(@user), @user %>
      <strong>Microposts</strong> <%= @user.microposts.count %>
    </td>
  </tr>
</table>